* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/background.jpg);
}

@font-face {
  font-family: 'Space Quest';
  src: url('../CSS/font/SpaceQuest-Xj4o.ttf');
}

/* out container */
.container {
  width: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 7rem;
  border: solid;
}

/* ------------ start of header ----------- */

.header {
  background-color: #385768;
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 10;
  margin-top: 2rem;
  margin-left: 1.4rem;
  border-radius: 2rem;
  font-family: 'Space Quest';
  z-index: 10;
}

a {
  color: white;
}

nav {
  border-radius: 2rem;
  background: #385768;
  width: 100%;
}

.header ul {
  list-style: none;
  overflow: hidden;
  background-color: #385768;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  font-family: 'Space Quest';
  width: 40%;
  margin: 0 auto;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #13c0c4;
  text-decoration: none;
  border-bottom: 4px solid #13c0c4;
  padding-bottom: 0.6rem;
}

.header li a.active {
  color: #13c0c4;
  border-bottom: 4px solid #13c0c4;
  padding-bottom: 0.6rem;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  border-radius: 2rem;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header {
    margin-left: 2rem;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* =================================================== */

@media (min-width: 48em) {
  .main {
    flex-direction: row-reverse;
  }
  .earth-img {
    width: 530px;
  }

  .home-page-btn {
    font-size: 1em;
    width: 17rem;
    height: 3.6rem;
  }
  .header li a {
    width: 100%;
  }
  .header {
    margin-left: 4rem;
  }
}

/* ------------ end of header ----------- */

/* ---- Beginning of latest launch section ---- */
.latest-launch {
  color: white;
  margin-top: 2rem;
}

.latest-launch .latest-launch-img img {
  width: 100%;
}

.latest-launch .latest-launch-img {
  background-color: #111111;
  border-radius: 16px;
  width: 100%;
}

.latest-launch .latest-launch-content h1 {
  font-size: 2rem;
  color: #13c0c4;
  margin-top: 1rem;
}

.latest-launch .latest-launch-content p {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0 1rem 0 0;
}

.latest-launch .latest-launch-video {
  background-color: #ce2424;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.7rem;
  margin: 0 1rem 0 0;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
}
.latest-launch .latest-launch-article {
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #13c0c4;
  border-radius: 8px;
  text-decoration: none;
}
/* ---- end of latest launch section ---- */
/* ---- start of next launch section ---- */
.next-launch {
  color: white;
  width: 100%;
  height: 12rem;
  border: solid white 2px;
  margin-top: 3rem;
  border-radius: 15px;
}

.next-launch img {
  width: 50%;
  height: 11.3rem;
  left: 24%;
  position: absolute;
  z-index: -5;
}

.next-launch .next-launch-content {
  background-color: rgba(17, 17, 17, 0.9);
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 15px;
}

.next-launch .next-launch-content h1 {
  font-size: 2rem;
}
.next-launch .next-launch-content h2 {
  color: #13c0c4;
  font-size: 1.5rem;
}

.next-launch .next-launch-content .timer {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.next-launch-content .timer .time {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #13c0c4;
}

.next-launch-content .timer .time label {
  margin-left: 0.7rem;
  margin-right: 1.5rem;
}

.next-launch-content .timer .time label:nth-child(4) {
  margin-left: 0.9rem;
  margin-right: 1rem;
}
/* ---- end of next launch section ---- */
/* ============ media queries for the first two sections in the launches page ============== */
@media screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
  /* ---- Beginning of latest launch section ---- */
  .latest-launch {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }
  .latest-launch .latest-launch-content {
    width: 60%;
  }

  .latest-launch .latest-launch-content h1 {
    font-size: 3rem;
  }

  .latest-launch .latest-launch-content p {
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 0 7rem 0 0;
  }
  .latest-launch .latest-launch-video {
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
  }
  .latest-launch .latest-launch-article {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
  }
  .latest-launch .latest-launch-img img {
    width: 80%;
    margin-left: 2.7rem;
  }
  .latest-launch .latest-launch-img {
    border-radius: 16px;
    width: 40%;
  }
  /* ---- end of latest launch section ---- */
  /* ---- start of next launch section ---- */
  .next-launch {
    height: 14rem;
  }
  .next-launch img {
    width: 27%;
    height: 13rem;
    left: 36%;
  }
  .next-launch .next-launch-content {
    padding: 1rem;
  }
  .next-launch .next-launch-content h1 {
    font-size: 3rem;
  }
  .next-launch .next-launch-content h2 {
    font-size: 2rem;
  }

  .next-launch .next-launch-content .timer {
    font-size: 3rem;
  }
  .next-launch-content .timer .time {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    color: #13c0c4;
  }

  .next-launch-content .timer .time label {
    margin-left: 0.7rem;
    margin-right: 1.5rem;
  }

  .next-launch-content .timer .time label:nth-child(4) {
    margin-left: 0.9rem;
    margin-right: 1rem;
  }
  /* ---- end of next launch section ---- */
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
  /* ---- start of next launch section ---- */
  .next-launch {
    height: 16rem;
  }
  .next-launch img {
    height: 15.5rem;
  }
  .next-launch .next-launch-content h1 {
    font-size: 3rem;
  }
  .next-launch .next-launch-content h2 {
    font-size: 2rem;
  }

  .next-launch .next-launch-content .timer {
    font-size: 3rem;
  }
  /* ---- end of next launch section ---- */
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 15px;
  }
  /* ---- Beginning of latest launch section ---- */
  .latest-launch .latest-launch-img img {
    width: 80%;
    margin-left: 3rem;
  }
  .latest-launch .latest-launch-img {
    border-radius: 16px;
    width: 40%;
  }
  .latest-launch .latest-launch-content {
    width: 60%;
  }
  .latest-launch .latest-launch-content h1 {
    font-size: 3rem;
  }

  .latest-launch .latest-launch-content p {
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 0 7rem 0 0;
  }
  .latest-launch .latest-launch-video {
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 0;
    font-size: 1rem;
  }
  .latest-launch .latest-launch-article {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  /* ---- end of latest launch section ---- */
  /*----- start of next launch section ----- */
  .next-launch {
    height: 17rem;
  }
  .next-launch img {
    height: 16.5rem;
  }
  /* ---- end of next launch section ----- */
}

/* ---- Start all launches section ---- */
.all-launches-container {
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0 5rem;
  height: 1000px;
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
}
.all-launches-container::-webkit-scrollbar {
  width: 0.5rem;
}
.all-launches-container::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(19, 192, 196, 0.6);
}

.all-launches-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(19, 192, 196, 1);
}
.all-launches-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(19, 192, 196, 0.5);
}

.buttons-section {
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.years-btn {
  display: flex;
}

.arrow-div {
  flex: 1 1 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex .main-btn {
  background-color: #13c0c4;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  border-color: rgba(19, 192, 196, 0);
}
.flex .main-btn:hover {
  background-color: rgb(255, 255, 255, 0);
  border-color: rgba(19, 192, 196, 1);
}
.years-range {
  flex: 15;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.years-range::-webkit-scrollbar {
  width: 2px;
}
.years-range::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(66, 68, 68, 0.6);
}

.years-range::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(44, 46, 46);
}
.years-range::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 85, 85, 0.5);
}
.years-range button {
  margin: 0 0.2rem;
  min-width: 3rem;
  border-radius: 8rem;
  padding: 0.2rem 0.1rem;
  outline: none;
  border: 1px solid #494848;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.arrow {
  width: 2rem;
  padding: 0.5rem;
  margin: 0 5px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #13c0c4;
  border: 1px solid #13c0c4;
  cursor: pointer;
}

.trips-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(65, 64, 64, 0.3);
  border: 2px solid #333232;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.trip-img {
  display: flex;
  justify-content: center;
  background-color: rgba(250, 245, 245, 0.3);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.trip-img img {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.trip-title {
  color: #13c0c4;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.trip-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3 1 300px;
  color: #fff;
  margin: 1rem;
  position: relative;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  color: #13c0c4;
  font-size: 1.5rem;
  cursor: pointer;
}

.trip-date {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #fff;
}

.trip-date p {
  position: relative;
  left: 2rem;
  top: -1.25rem;
}

.trip-description {
  font-size: 1.2rem;
  color: #fff;
}
.trip-date i {
  margin-right: 0.5rem;
}
.trip-btns {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 1rem;
  display: flex;
}
.trip-btns .youtube-btn {
  background-color: #ce2424;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.7rem;
  margin: 0 1rem 0 0;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
}
.trip-btns .youtube-btn:hover {
  background-color: #fff;
  color: #ce2424;
}

.trip-btns .more {
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #13c0c4;
  border-radius: 8px;
  text-decoration: none;
}
.trip-btns .more:hover {
  background-color: #13c0c4;
  border: 1px solid #fff;
}

.trip-btns .more i {
  font-size: 0.5rem;
}
.hide {
  display: none;
}

.line {
  height: 2px;
  width: 90%;
  margin-top: 20rem;
  background-color: #494848;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 8rem;
}
.active {
  cursor: grabbing;
}
/* !! media query */

@media screen and (min-width: 768px) {
  .trips-card {
    flex-direction: row;
  }

  .trip-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .all-favorite-btns {
    display: none;
  }

  .all-trips {
    display: flex;
    flex-direction: row;
  }
  .years-range button {
    min-width: 10rem;
  }
  .trip-img {
    width: 20%;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 769px) {
  .trip-date {
    margin-bottom: -2rem;
  }
  .trip-img {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .trip-date {
    margin-bottom: -2rem;
  }
  .trip-img {
    width: 20%;
  }
}

/*  footer */

.footer {
  background-color: #353535a1;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.footer-text {
  padding-top: 2rem;
  color: #979797;
}
.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  font-size: 1.4rem;
}
.footer-image2 {
  width: 8.5rem;
}
.footer-image1 {
  width: 7.5rem;
}
.footer-list a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-link:hover {
  color: #b3b3b3;
}

@media (min-width: 48em) {
  .footer-image1 {
    width: 13.2rem;
  }
  .footer-image2 {
    width: 14rem;
  }
  .footer-list {
    width: 30%;
    font-size: 3rem;
  }
}
